name: Start ECS GitHub Actions Runner

on:
  push:
    branches:
      - main
  workflow_dispatch:  # 手動実行トリガー

jobs:
  start-ecs-runner:
    name: Start ECS Task for GitHub Runner
    runs-on: ubuntu-latest

    steps:
      - name: Get Github Runnner Resistration Token
        id: get-token
        run: |
          echo "Starting ECS Fargate task for GitHub Actions runner..."
          GH_RUNNER_TOKEN=$(curl -s -X POST \
          -H "Authorization: token ${{ secrets.TOKEN_OF_GITHUB_PAT }}" \
          -H "Accept: application/vnd.github+json" \
          https://api.github.com/repos/yusukenakagawa1028/terraform-core/actions/runners/registration-token \
          | jq -r .token)
          echo "GH_RUNNER_TOKEN=$GH_RUNNER_TOKEN" >> $GITHUB_ENV

      - name: Start ECS Fargate Runner Task
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ap-northeast-1
        run: |
          echo "Launching ECS task for GitHub Actions runner..."

          aws ecs run-task \
            --cluster github-runner-cluster \
            --launch-type FARGATE \
            --task-definition github-actions-runner-task \
          --network-configuration "awsvpcConfiguration={subnets=[${{ secrets.RUNNER_EXECUTION_SUBNET_ID }}],securityGroups=[${{secrets.RUNNER_EXECUTION_SECURITY_GROUP_ID }}],assignPublicIp=ENABLED}" \
            --overrides "$(jq -n --arg token "$GH_RUNNER_TOKEN" '{
                containerOverrides: [{
                  name: "github-runner",
                    environment: [{
                        name: "GH_RUNNER_TOKEN",
                        value: $token
                    }]  
                }]
              }')"
